name: Run Tests

on:
  push:
    branches:
      - master
      - dev

jobs:
  lint:
    name: Lint

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [25.x]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Run eslint
        run: npm run lint

  build:
    name: Build Test

    needs: lint

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [25.x]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Use Node.js ${{ matrix.os }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build
